<%include header %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

<title>Applied</title>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand"><font color="#ffee58">Edu</font><font color="#e1f5fe">More</font></a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/home"><font color="white">Home</font></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:3000/record"><font color="white">Record</font></a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:3000/applied"><font color="white">Applied</font></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="http://localhost:3000/profile"><font color="white">Profile</font></a>
      </li>
      <li class="nav-item ">
        <button id="print" class="btn btn-info my-2 my-sm-0" onclick="myFunction()">Print The Schedule</button>
      </li>
     
    </ul>
    
  </div>
  <form class="form-inline">
    
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="http://localhost:3000/logout" style="color:rgb(34, 158, 34); text-decoration: none;">Logout</a></button>
    
  </form>
</nav>
<!-- nav ends-->



<div class="container" style="margin-top:100px;">
  <%if(records.length){%>
  <table class="table table-striped" style="background-color:#ffee58">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">College Name</th>
        <th scope="col">Exam date</th>
      </tr>
    </thead>
    <tbody>
      <% records.forEach((records,index)=>{ %>
      <tr>
        <th scope="row"><%=index+1%></th>
        <td><%=records.college%></td>
        <td><%=records.date%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <%} else{ %>
  <p>No records found</p>
  <% } %>
</div>

<script>
  
function myFunction() {
  window.print();
}
</script>

<%include footer%>
